:root {
  --web-view-ids: home;
}

body {
  margin: 0;
  padding: 0;
}

 {
  margin: 0;
  font-family: "Helvetica"
}

h1 {
  color: #7671b2;
  font-size: 29px;
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: 0.12em;
}

h3 {
  color: #7671b2;
  font-size: 11px;
  font;font-family: Helvetica;
  letter-spacing: 0.12em;
}

/********* Navigation Bar ********/
.main-nav a:hover,
.main-nav .active {
  color: white;
  background-color: darkblue;
}

.main-nav li {
  display: inline-block;
}

.example-box {
  display: flex;
  flex-direction: column;
  padding-right: 5em;
  color: gray;
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto auto;
  padding: 10px 150px 10px 150px;
}

.header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #c9d1f5;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.justify-left {
  text-align: left
}

.justify-end {
  text-align: right;
}

.justify-center {
  text-align: center;
}

.timer {
  color: #5168e9;
  font-size: 20px;
  font-weight: bold;
}

.restart-button {
  width: 15em;
  height: 3em;
  color: white;
  background-color: #5168e9;
  border: 0;
}

.facebook-button {
  width: 15em;
  height: 3em;
  color: white;
  background-color: blue;
  border: 0;
}

.game-status-text {
  font-family: Helvetica, sans-serif;
  color: rgb(24, 21, 16);
  font-weight: bold;
}

.card {
  width: 10em;
  height: 10em;
  background-color: rgb(75, 42, 165);
  color: white;
  font-size: 15px;
  background: tomato;
  margin: 5px;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
}

.card:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}

.card .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-card {
  visibility: hidden;
}

.card-front {
  background-color: #999999;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.card-back {
  font-weight: bold;
}

.react-card-front {
  position: unset !important;
}


/*********** Media Queries ************/
@media only screen and (max-width: 786px) {
  .header-container {
    width: 50%;
    height: 30em;
  }

  .card {
    display: flex;
    flex-direction: column;
    paddint-top: 5em;
  }
}
